In [2]:
# !pip install -U scikit-learn

In [3]:
import sklearn
sklearn.__version__

'1.3.2'

In [4]:
import pandas as pd
import seaborn as sns

tips = sns.load_dataset("tips")
tips.sample()

    total_bill  tip     sex smoker  day    time  size
67        3.07  1.0  Female    Yes  Sat  Dinner     1

In [9]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder, OrdinalEncoder
from sklearn.compose import ColumnTransformer

scaler = StandardScaler()
ohe = OneHotEncoder(sparse_output=False, drop="first")
ord_enc = OrdinalEncoder()
preprocessor = ColumnTransformer([ ('scaler', scaler, ['total_bill']),
                                    ('onehot', ohe, ['sex', 'smoker', 'day', 'time']),
                                    ('ordinal', ord_enc, ['size'])])

preprocessor.fit_transform(tips)

array([[-0.31471131,  0.        ,  0.        , ...,  0.        ,
         0.        ,  1.        ],
       [-1.06323531,  1.        ,  0.        , ...,  0.        ,
         0.        ,  2.        ],
       [ 0.1377799 ,  1.        ,  0.        , ...,  0.        ,
         0.        ,  2.        ],
       ...,
       [ 0.3246295 ,  1.        ,  1.        , ...,  0.        ,
         0.        ,  1.        ],
       [-0.2212865 ,  1.        ,  0.        , ...,  0.        ,
         0.        ,  1.        ],
       [-0.1132289 ,  0.        ,  0.        , ...,  1.        ,
         0.        ,  1.        ]])

In [10]:
preprocessor = ColumnTransformer([ ('scaler', scaler, ['total_bill']),
                                    ('onehot', ohe, ['sex', 'smoker', 'day', 'time']),
                                    ('ordinal', ord_enc, ['size'])],
                                    verbose_feature_names_out=False).set_output(transform="pandas")

preprocessor.fit_transform(tips)

,total_bill,sex_Male,smoker_Yes,day_Sat,day_Sun,day_Thur,time_Lunch,size
0,-0.314711,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,-1.063235,1.0,0.0,0.0,1.0,0.0,0.0,2.0
2,0.137780,1.0,0.0,0.0,1.0,0.0,0.0,2.0
3,0.438315,1.0,0.0,0.0,1.0,0.0,0.0,1.0
4,0.540745,0.0,0.0,0.0,1.0,0.0,0.0,3.0
...,...,...,...,...,...,...,...,...
239,1.040511,1.0,0.0,1.0,0.0,0.0,0.0,2.0
240,0.832275,0.0,1.0,1.0,0.0,0.0,0.0,1.0
241,0.324630,1.0,1.0,1.0,0.0,0.0,0.0,1.0
242,-0.221287,1.0,0.0,1.0,0.0,0.0,0.0,1.0
243,-0.113229,0.0,0.0,0.0,0.0,1.0,0.0,1.0